.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 20px;
}
.example-alternate {
  background: rgba(127, 127, 127, 0.3);
}
.example-first {
  background-color: aqua;
}
.example-last {
  background-color: brown;
}
